<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>CS172 Project : Crawler</title>
    <style>h1 {display: flex; text-align: center;}</style>

</head>
<body>
        <h1>Super Duper Crawler </h1>
        <!--<input type="text" placeholder="Enter seed URL" id="input_url">-->
        <!--<input type="text" placeholder="Enter query" id="input_query">-->
        <!--<button type="button" onclick="getInputValue();">Get Value</button>-->
        <form action="/" method="POST">
<!--            <p>https://www.ucr.edu/</p>-->
            <input type="text" name="seed_url" id="seed_url" placeholder="Enter Seed URL...">
            <input type="text" name="query" id="query" placeholder="Enter Query...">
            <input type="submit" value="Search">
<!--      might need this line, not positive with return statement in app.py, try that first     -->
<!--            <output type="text" id="output"> </output>-->
        </form>
<!--        <form action="/" method="GET">-->
<!--&lt;!&ndash;           <output type="text" id="output"> </output>&ndash;&gt;-->
<!--        </form>-->
        <script src="home.js"></script>
</body>
</html>